<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-card id="card-principal">
    <form class="formulario-ingreso">
      <ion-input id="email" type="email" label="Correo:" placeholder="Correo@gmail.com"></ion-input>
      <ion-input id="password" type="Password" label="Contraseña:" placeholder="**********"></ion-input>
    </form>
    <div class="button-container">
      <!--HOLA SUUU-->
      <ion-button shape="round" size="medium" color="warning" >Registrarse</ion-button>
      <ion-button shape="round" size="medium" color="danger" >Ingresar</ion-button>
    </div>
  </ion-card>
</ion-content>
